@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1024px) {
	body {
		position: relative;
	}

	body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100svh;
		height: 100vh;
		background-image: url("/bg.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		animation: spin 50s infinite linear;

		z-index: -1; /* Ensure the background is behind other content */
	}
	body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100svh;
		height: 100vh;

		background-color: black; /* Set the background color to black */
		z-index: -2; /* Place it behind the rotating background */
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
